<sw-container style="padding-bottom: 2em;border-bottom: 1px solid #c0c0c0;margin-bottom: 2em;">
    <h2 v-if="headline">{{ headline }}</h2>

    <p v-if="text" v-html="text"></p>

    <p style="margin-top:2em;" v-if="buttonText && buttonLink">
        <sw-button :link="buttonLink" :variant="buttonVariant">
            {{ buttonText }}
        </sw-button>
    </p>
</sw-container>