<sw-container style="padding-bottom: 2em;border-bottom: 1px solid #c0c0c0;margin-bottom: 2em;">
    <h2>{{ $tc('jbl-cta.title') }}</h2>

    <p v-html="$t('jbl-cta.text')"></p>

    <p style="margin-top:2em;">
        <sw-button link="https://google.de">
            <sw-icon name="default-action-external" color="#1abc9c"></sw-icon> {{ $tc('jbl-cta.button') }}
        </sw-button>
    </p>
</sw-container>